# Example pinning a particular version of Dallinger
#
# Note that caching means that, if you're pinning to a particular branch,
# then subsequent updates to that branch won't necessarily be incorporated into the Docker image.
# If you want to ensure that you have the latest version of the branch, it's best to pin
# to a particular commit.
#
# dallinger@git+https://github.com/Dallinger/Dallinger.git@print-dashboard-url#egg=dallinger


# Desired PsyNet branches:
# - config-fix
# - faster-exports
psynet@git+https://gitlab.com/PsyNetDev/PsyNet.git@2b9aac0c48d786e61f1b7994248fe0fe2409c5b9#egg=psynet

# Desired Dallinger branches:
# - master
dallinger@git+https://github.com/Dallinger/Dallinger.git@f2544424ef26941668ad046e4f5a7b57b950fa99#egg=dallinger
