# Example pinning a particular version of Dallinger
#
# Note that caching means that, if you're pinning to a particular branch,
# then subsequent updates to that branch won't necessarily be incorporated into the Docker image.
# If you want to ensure that you have the latest version of the branch, it's best to pin
# to a particular commit.
#
# dallinger@git+https://github.com/Dallinger/Dallinger.git@print-dashboard-url#egg=dallinger

# psynet@git+https://gitlab.com/PsyNetDev/PsyNet.git@3f010eff35d7a6424486afbba9ba879b657b1dc0#egg=psynet
# dallinger@git+https://github.com/Dallinger/Dallinger.git@e9d13734d179a5f1e0f0b9ddcc7da6292fd8ec98#egg=dallinger
psynet@git+https://gitlab.com/PsyNetDev/PsyNet.git#egg=psynet
dallinger@git+https://github.com/Dallinger/Dallinger.git#egg=dallinger