{% macro radiobutton(params) %}
    <label style="margin-left: 15px;">
        <input
            type="radio"
            id="{{ params.id }}"
            name="{{ params.name }}"
            class="response"
            style="{{ params.style }}"
        />
        <span style="{{ params.style }}">{{ params.label }}</span>
    </label>
{% endmacro %}

{% macro radiobuttons_multi(params) %}
    <style>
        .control-container {
            display: {% if params.arrange_vertically %}grid{% else %}flex{% endif %};
            flex-wrap: wrap;
            {#justify-content: center;#}
            max-height: 420px;
            overflow-y: auto;
        }
    </style>

    <div class="control-container">
      <form action="">
        <table>
          <tr>
            <td colspan="6"><h3>Which performance is more similar to the anchor?</h3></td>
          </tr>
          <tr>
            <td><label for="sim_perfA">Performance A</label></td>
            <td><input id="sim_perfA" type="radio" name="similarity" value="sim_perfA" style="margin-right: 60px;"></td>

            <td><label for="sim_perfB">Performance B</label></td>
            <td><input id="sim_perfB" type="radio" name="similarity" value="sim_perfB" style="margin-right: 60px;"></td>

            <td><label for="sim_null">No Preference</label></td>
            <td><input id="sim_null" type="radio" name="similarity" value="sim_null" style="margin-right: 60px;"></td>
          </tr>

          <tr>
            <td colspan="6"><h3>Which performance do you prefer?</h3></td>
          </tr>
          <tr>
            <td><label for="pref_perfA">Performance A</label></td>
            <td><input id="pref_perfA" type="radio" name="preference" value="pref_perfA" style="margin-right: 60px;"></td>

            <td><label for="pref_perfB">Performance B</label></td>
            <td><input id="pref_perfB" type="radio" name="preference" value="pref_perfB" style="margin-right: 60px;"></td>

            <td><label for="pref_null">No Preference</label></td>
            <td><input id="pref_null" type="radio" name="preference" value="pref_null" style="margin-right: 60px;"></td>
          </tr>
        </table>
      </form>
    </div>

    <p class="vspace"></p>
    <script>
        clickedButton = function(id) {
            psynet.response.disable();
            psynet.submit.disable();
            psynet.nextPage(id);
        }

        retrieveResponse = function() {
            // Get selected value for "similarity"
            let similarityElement = document.querySelector('input[name="similarity"]:checked');
            let similarityAnswer = similarityElement ? similarityElement.id : null;

            // Get selected value for "preference"
            let preferenceElement = document.querySelector('input[name="preference"]:checked');
            let preferenceAnswer = preferenceElement ? preferenceElement.id : null;

            let rawAnswer = {
                similarity: similarityAnswer,
                preference: preferenceAnswer
            }
            console.log(rawAnswer)
            return rawAnswer;
        }
    </script>

{% endmacro %}